#mobile-page {
  padding-bottom: 8vh;
}

@media (min-width: 1024px) {
  .product-container {
    display: flex;
  }
  #mobile-page {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
}

/* ============================= */
/* PRODUCT GALLERY (ProductGallery.jsx) */
/* ============================= */

.pg-carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

.pg-track-wrapper {
  width: 100%;
  overflow: hidden;
}

.pg-track {
  display: flex;
  transition: transform 0.4s ease;
}

.pg-slide {
  min-width: 100%;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pg-slide img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.pg-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  background: rgba(0, 0, 0, 0.4);
  color: #fff;

  border: none;
  padding: 8px 12px;
  font-size: 22px;
  cursor: pointer;
}

.pg-btn.prev {
  left: 10px;
}
.pg-btn.next {
  right: 10px;
}

@media (min-width: 1024px) {
  .product-gallery-wrap {
    width: 50vw;
    position: fixed;
  }
  .pg-slide{
    margin-top: 20vh;
  }
}

/* ============================= */
/* PRODUCT MAIN INFO (ProductMainInfo.jsx) */
/* ============================= */

#productName {
  margin-top: 3vh;
  padding: 1vh 4vw;
  font-size: 3vh;
  font-family: "Arsenal", sans-serif;
}

.atDetail {
  margin-left: 4vw;
  font-size: 2vh;
  color: #192f49c5;
  font-family: "Alice", serif;
}

.starAtDetail {
  margin: 0 2vw;
}

/* variants */

.product-variants {
  width: 60vw;
  margin-top: 2vh;
  padding: 1.5vh 4vw 0.5vh;

  background-color: #f5f7f8;

  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.variant-label {
  margin-right: auto;
}

.variant-item {
  display: flex;
  margin-bottom: 1vh;
  font-family: "Arsenal", serif;
  font-weight: 600;
  color: #192f49c5;
}

/* price section */

.price-section-main {
  display: flex;
  align-items: center;
  gap: 10px;

  margin: 2vh 0 2vh 4vw;
  font-family: "Arsenal", serif;
}

.discount {
  font-size: 2.4vh;
  font-weight: 600;
  color: rgb(169, 34, 34);
}

.mrp {
  font-size: 2.4vh;
  color: #888;
  text-decoration: line-through;
}

.price {
  font-size: 2.7vh;
  font-weight: 700;
  color: #192f49;
}

@media (min-width: 768px) {
  .variant-label,
  .variant-value {
    font-size: 2.3vh;
  }
  #productName {
    font-size: 4vh;
  }
  .discount,
  .mrp {
    font-size: 3vh;
  }
  .price {
    font-size: 3.5vh;
  }
}

@media (min-width: 1024px) {
  .product-data {
    width: 50vw;
    position: absolute;
    right: 0;
    padding-bottom: 8vh;
  }
  .atDetail{
    font-size: 2.5vh;
  }
  .product-variants {
    width: 38vw;
    margin-top: 4vh;
    margin-bottom: 3vh;
    padding: 1.5vh 4vw 0.5vh 2vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    margin-left: 6vw;
  }
  #productName {
    font-size: 4vh;
    margin-bottom: 1vh;
  }
  .price-section-main {
    margin: 4vh 0 4vh 4vw;
    gap: 25px;
    padding-left: 3vw;
  }
}

/* ============================= */
/* DELIVERY (Delivery.jsx) */
/* ============================= */

.delivery-section {
  margin: 1vh 4vw;
  padding: 2vh 0;

  border-top: 1px solid #454545bc;
  border-bottom: 1px solid #454545bc;
}

.delivery-title {
  font-size: 2.6vh;
  letter-spacing: 1px;

  color: #192f49;
  font-family: "Arsenal", sans-serif;
}

.delivery-text {
  display: flex;
  align-items: end;
  gap: 5vw;

  margin-top: 1.7vh;

  font-size: 2.1vh;
  color: #323a40;
  font-family: "Alice", serif;
}

.delivery-text img {
  width: 3.5vh;
}

@media (min-width: 768px) {
  .delivery-text {
    font-size: 2.3vh;
  }
}

@media (min-width: 1024px) {
  .delivery-title {
    font-size: 3vh;
    margin-bottom: 3vh;
  }
  .delivery-text {
    font-size: 2.5vh;
  }
  .delivery-section {
    padding: 4vh 0;
  }
  .delivery-text img {
    width: 5vh;
  }
}

/* ============================= */
/* PRODUCT SPECS (ProductSpecs.jsx) */
/* ============================= */

.specs-section {
  position: relative;
  margin-top: 3vh;
  padding-top: 1vh;
  overflow: hidden;
}

.specs-title {
  margin: 0 0 3vh 4vw;

  font-size: 2.8vh;
  letter-spacing: 1px;

  color: #192f49;
  font-family: "Arsenal", sans-serif;
}

.specs-tiles {
  width: 92vw;
  margin: 0 0 2vh 4vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spec-tile {
  background: #f5f7f8;
  border: 1px solid #555;
  border-radius: 12px;
  overflow: hidden;
}

.spec-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 12px 14px;

  background: transparent;
  border: none;

  font-size: 1rem;
  font-family: "Alice", serif;
  color: #323a40;

  cursor: pointer;
}

.spec-head i {
  transition: transform 0.28s ease;
}

.spec-tile.open .spec-head i {
  transform: rotate(180deg);
}

.spec-body {
  max-height: 0;
  overflow: hidden;

  padding: 0 14px;
  background: #fff;

  transition:
    max-height 0.3s ease,
    padding 0.2s ease;
}

.spec-tile.open .spec-body {
  max-height: 480px;
  padding: 10px 14px 12px;
}

.spec-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.spec-list li {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  padding: 10px 0;
  border-bottom: 1px solid #1c20277e;
}

.spec-list li:last-child {
  border-bottom: none;
}

.spec-name {
  color: #555;
  font-family: "Alice", serif;
}

.spec-value {
  color: #2c5080;
  font-family: "Alice", serif;
}

/* see more */

.see-more-wrap {
  display: flex;
  justify-content: center;
}

.see-more-btn {
  display: none;

  margin: 12px 0 2vh;
  padding: 1vh 6vw;

  border: none;
  border-radius: 12px;

  font-family: "Alice", serif;
  letter-spacing: 1px;

  background: #1d4375;
  color: #e2e3e2;

  box-shadow: 2px 4px 6px #00000070;

  cursor: pointer;
  transition: 0.3s ease;
}

.see-more-btn:hover {
  transform: scale(1.05);
}

.specs-fade {
  position: absolute;
  bottom: 60px;
  left: 0;

  width: 100%;
  height: 120px;

  pointer-events: none;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.05),
    transparent
  );
}

@media (min-width: 768px) {
  .spec-head {
    padding: 18px 24px;
    font-size: 1.5rem;
  }
  .specs-tiles {
    width: 86vw;
    gap: 25px;
    margin: 2vh 0 4vh 7vw;
  }
  .see-more-btn {
    font-size: 2.2vh;
  }
  .specs-fade {
    bottom: 9vh;
  }
}

@media (min-width: 1024px) {
  .specs-tiles {
    width: 40vw;
    margin: 4vh 0 4vh 6vw;
    gap: 20px;
  }
  .spec-head {
    padding: 12px 14px;
    font-size: 1rem;
  }
  .specs-title {
    font-size: 3vh;
  }
  .see-more-btn {
    padding: 1vh 2vw;
  }
}

/* ============================= */
/* PAYMENT SECTION (PaymentSection.jsx) */
/* ============================= */

.payment-section {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100vw;
  height: 8vh;

  display: flex;
  align-items: center;

  background: #fff;

  z-index: 999;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
}

.payment-price-box {
  padding: 0 3vw;
  margin-left: 5vw;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.payment-mrp {
  font-size: 1.8vh;
  color: #888;
  text-decoration: line-through;
}

.payment-discount {
  font-size: 1.8vh;
  font-weight: 600;
  color: rgb(169, 34, 34);
}

.payment-final-price {
  font-size: 2.6vh;
  font-weight: 700;
  color: #192f49;
}

.payment-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#razorpay-container {
  margin-right: 8vw;
}

.payment-button-box form {
  display: flex;
}

@media (min-width: 768px) {
  .payment-price-box {
    flex-direction: row;
    gap: 4vw;
  }
  .payment-mrp {
    font-size: 2.2vh;
  }
  .payment-discount {
    font-size: 2.2vh;
  }
  .payment-final-price {
    font-size: 3vh;
    padding: 0 0;
  }
  .price-top {
    gap: 15px;
  }
}

@media (min-width: 1024px) {
  .payment-mrp {
    font-size: 2.7vh;
  }
  .payment-discount {
    font-size: 2.7vh;
  }
}

/* ============================= */
/* ASSURANCE (Assurance.jsx) */
/* ============================= */

.assurance-wrap {
  margin: 1vh 4vw;
  margin-top: 1vh;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  border-top: 1px solid #454545bc;
  border-bottom: 1px solid #454545bc;
}

.assurance-item {
  margin-top: 1vh;
  padding: 12px 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  text-align: center;
  border-radius: 24px;
}

.assurance-item img {
  width: 5vh;
}

.assurance-item span {
  font-size: 0.8rem;
  font-family: "Alice", serif;
  color: rgb(27, 123, 27);
}

.assurance-item #red {
  color: rgb(169, 34, 34);
}

@media (min-width: 768px) {
  .assurance-wrap {
    margin: 2vh 4vw;
  }
  .assurance-item span {
    font-size: 1.3rem;
  }
  .assurance-item {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .assurance-item img {
    width: 6vh;
  }
}

@media (min-width: 1024px) {
  .assurance-wrap {
    margin: 2vh 2vw;
  }
  .assurance-item {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
}

/* ============================= */
/* PAYMENT OPTIONS (PaymentOptions.jsx) */
/* ============================= */

.payment-options {
  margin: 2vh 4vw;
}

.payment-options-title {
  margin-bottom: 3vh;
  font-size: 2.6vh;
  color: #192f49;
  font-family: "Arsenal", sans-serif;
}

.payment-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.payment-grid img {
  width: 70px;
  object-fit: contain;
}

.payment-grid img:hover {
  transform: scale(1.05);
}

/* custom sizes */

#visa,
#rupay,
#mc {
  width: 50px;
}

#amazon,
#gpay,
#phonepe {
  width: 90px;
}

#paytm {
  width: 85px;
}

#net {
  width: 60px;
}

@media (min-width: 768px) {
  #visa,
  #rupay,
  #mc {
    width: 75px;
  }
  #amazon,
  #gpay,
  #phonepe {
    width: 135px;
  }
  #net {
    width: 80px;
  }
  #paytm {
    width: 120px;
  }
  #upi {
    width: 90px;
  }
}

@media (min-width: 1024px) {
  .payment-options {
    margin: 6vh 4vw;
  }
  .payment-options-title {
    font-size: 3vh;
  }
}

/* ============================= */
/* EXTRA (GLOBAL FIXED BAR) */
/* ============================= */

.price-section {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100vw;
  height: 7vh;

  display: flex;
  background-color: #fff;

  z-index: 700;
}
